/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #FBF4E6;
  padding: 5px 25px;
  font-size: 18px;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", serif;
  font-size: 32px;
}

header {
  align-items: center;
  display: grid;
  grid-template-columns: 110px auto;
}
a:hover {
  background-color: #5D737E;
}
nav a {
  color: #196019;
  font-size: 1.1em;
  text-decoration: none;
}
nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin-left: 100px;
}
footer {
  grid-template-columns: repeat(3, 1fr);
}
.copyright {
  margin-bottom: -40px;
}
.social {
  text-align: right;
}

#content {
  max-width: 960px;
  margin: 0 auto;
  font-family: "Merriweather", sans-serif;
  padding: 1.1em;
}

/* Home page */
.home-grid {
  display: grid;
  grid-template-columns: 2;
}
.home-paragraph-1, .home-paragraph-2{
  grid-column: 1/2;
}
.plant-img {
  grid-column: 2/3;
  margin-left: 100px;
  margin-top: -185px;
  border-radius: 50%;
}
.office-img {
  margin-top: -120px;
  border-radius: 50%;
}
.home-paragraph-3 {
  margin-left: 30px;
}
